html {
    height: 100%;
}

h1,
p {
    font-family: "Montserrat", sans-serif;
    text-align: center;
    color: white;
}


/* You can add global styles to this file, and also import other style files */

#card {
    display: flex;
    justify-content: space-between;
}

.li {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.slider {
    background: url("/img/food.jpg");
    background-size: cover;
    background-position: center;
    height: 450px;
}

input,
textarea {
    margin: 5px;
    box-sizing: border-box;
}

@media only screen and (max-width: 500) {
    input,
    textarea {
        display: inline-block;
        align-items: center;
    }
}


/* change all .btn to .btn-sm size on xs */


/*
.cabecera {
    background: url("img/food.JPG");
    background-size: cover;
    background-position: center;
    height: 370px;
}

*/


/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
    background: #4abdac;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #999c92;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}